# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Data files
*.csv
*.tsv
*.db
*.sqlite

# Logs
*.log

# Test and coverage outputs
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/

# Other
*.egg-info/
dist/